docs/N8N_WORKFLOW.json
{
  "name": "GymBuddy WhatsApp Coordination",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gymbuddy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.trigger }}",
              "operation": "equal",
              "value2": "availability_notification_sent"
            }
          ]
        }
      },
      "id": "check-trigger-type",
      "name": "Check Trigger Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_API_URL }}/webhook/set/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $env.N8N_WEBHOOK_URL }}/whatsapp-messages"
            },
            {
              "name": "events",
              "value": "MESSAGE_RECEIVED"
            }
          ]
        },
        "options": {}
      },
      "id": "setup-whatsapp-webhook",
      "name": "Setup WhatsApp Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-messages",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp-webhook",
      "name": "WhatsApp Message Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equal",
              "value2": "message.received"
            }
          ]
        }
      },
      "id": "check-message-event",
      "name": "Check Message Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Claude, an AI assistant helping Ivan and Youssef coordinate their gym schedules via WhatsApp.\n\nContext:\n- This is a private chat between gym partners Ivan and Youssef\n- They've both set their availability in the GymBuddy app\n- Available slots: {{ $json.data.availability.commonSlots }}\n- Suggested sessions: {{ $json.data.availability.suggestedSessions }}\n\nUser Message: {{ $json.data.message.text }}\nFrom: {{ $json.data.message.from }} ({{ $json.data.message.fromName }})\n\nYour role:\n1. Help them agree on 2 workout sessions this week\n2. Remember each user's preferences across the conversation\n3. Detect when both users agree on a final schedule\n4. Be friendly, encouraging, and gym-focused\n5. Keep responses concise for WhatsApp\n\nWhen they agree on a schedule, respond with: \"CONFIRMED: [details]\" and I'll update the app.\n\nRespond naturally as Claude helping coordinate their gym schedule:",
        "options": {}
      },
      "id": "claude-response",
      "name": "Claude Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.data.message.from }}"
            },
            {
              "name": "text",
              "value": "={{ $('Claude Response').item(0).json.response }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp-response",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Claude Response').item(0).json.response }}",
              "operation": "contains",
              "value2": "CONFIRMED:"
            }
          ]
        }
      },
      "id": "check-confirmation",
      "name": "Check if Confirmed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "{{ $env.GYMBUDDY_API_URL }}/api/sessions/confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "confirmedBy",
              "value": "whatsapp_claude"
            },
            {
              "name": "sessionDetails",
              "value": "={{ $('Claude Response').item(0).json.response }}"
            },
            {
              "name": "users",
              "value": "={{ $json.users }}"
            }
          ]
        },
        "options": {}
      },
      "id": "confirm-session-in-app",
      "name": "Confirm Session in App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "message": "GymBuddy WhatsApp coordination workflow completed successfully"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trigger Type": {
      "main": [
        [
          {
            "node": "Setup WhatsApp Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Message Webhook": {
      "main": [
        [
          {
            "node": "Check Message Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Event": {
      "main": [
        [
          {
            "node": "Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Check if Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Confirmed": {
      "main": [
        [
          {
            "node": "Confirm Session in App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}